---
import type { Props } from '@astrojs/starlight/props'
import { Icon } from '@astrojs/starlight/components';
---
[[https://github.com/withastro/starlight/issues/861
<footer class="sl-flex">


	{
		config.credits && (
			<a class="kudos sl-flex" href="https://starlight.astro.build">

				<Icon name={'starlight'} /> {Astro.props.labels['builtWithStarlight.label']}
			</a>
            <a class="kudos sl-flex" href="https://builtwithnix.org">
				<Icon name="nix" /> Built with Nix
			</a>
             <a class="kudos sl-flex" href="https://creativecommons.org/licenses/by/4.0/">
			   content on this site is licensed under a Creative Commons license.
			</a>


		)
	}
</footer>

<style>
	footer {
		flex-direction: row;
		gap: 1.5rem;
	}
	.meta {
		gap: 0.75rem 3rem;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 3rem;
		font-size: var(--sl-text-sm);
		color: var(--sl-color-gray-3);
	}
	.meta > :global(p:only-child) {
		margin-inline-start: auto;
	}

	.kudos {
		align-items: center;
		gap: 0.5em;
		margin: 1.5rem auto;
		font-size: var(--sl-text-xs);
		text-decoration: none;
		color: var(--sl-color-gray-3);
	}
	.kudos :global(svg) {
		color: var(--sl-color-orange);
	}
	.kudos:hover {
		color: var(--sl-color-white);
	}
</style>
