<html lang="en" class="text-gray-900 scroll-smooth">
    <head>
    <meta charset="utf-8">
    <title>$title$</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="og:title" content="$title$" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <script src="/js/highlight.pack.js"></script>
    <script src="/js/frontend.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/darcula.css"/>
    <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body class="min-h-screen">
      <nav class="text-gray-800 w-full flex items-center justify-between py-3 px-4">
        <!-- <div class="font-extrabold text-xl">RealWorld -> ((Maybe Blog), RealWorld)</div> -->
        <ul class="flex-grow flex justify-end items-center list-none">
          <li><a class="inline-block py-2 px-4 font-bold" href="/">Home</a></li>
          <li><a class="inline-block py-2 px-4 font-bold" href="/archive.html">Archive</a></li>
          <!-- <li>
               <a href="/atom.xml">
               <svg class="h-8 w-8 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
               <path d="M5 3a1 1 0 000 2c5.523 0 10 4.477 10 10a1 1 0 102 0C17 8.373 11.627 3 5 3z" />
               <path d="M4 9a1 1 0 011-1 7 7 0 017 7 1 1 0 11-2 0 5 5 0 00-5-5 1 1 0 01-1-1zM3 15a2 2 0 114 0 2 2 0 01-4 0z" />
               </svg>
               </a>
               </li> -->
        </ul>
      </nav>
          <div>
            <div
              class="article ">
                      $body$
              </div>
              <div>
                  <p class="text-center">
                    Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a>
                  </p>
              </div>
            </div>
    </body>
</html>

