<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Shake Blog — {{{title}}}</title>
  <link rel="stylesheet" type="text/css" href="/css/water.css" />
</head>
<body>
  <div id="header">
    <div id="logo">
      <a href="/">My Shake Blog</a>
    </div>
    <div id="navigation">
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/contact/">Contact</a>
      <a href="/archive/">Archive</a>
    </div>
  </div>
  <div id="content">
    <h1>{{{title}}}</h1>
    {{{content}}}
  </div>
  <div id="footer">
    Site powered by Haskell and Nix
  </div>
</body>
</html>
