<html>
    <head>
    <meta charset="utf-8">
    <title>$title$</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="og:title" content="$title$" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="/css/tailwind.css">
 </head>
    <body>
      <nav class="flex items-center justify-between flex-wrap bg-teal p-6">
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-sm lg:flex-grow">
            <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">Home</a>
            <a href="/archive" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">Archive</a>
            <a href="/about.html" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white"> About</a>
          </div>
        </div>
      </nav>
          <div class="px-8 py-12">
              <div>
                      $body$
              </div>
              <div>
                  <p class="mt-2 text-gray-600 text-center">
                      Powered by
                      <a href="http://jaspervdj.be/hakyll">Hakyll</a>
                    </p>
              </div>
            </div>
    </body>
</html>

