<section>
    <header class="post-header">
        <h2 class="post-title">
            $title$
        </h2>
        <p class="post-meta">
            Posted on $date$
            $if(author)$
            by $author$
            $endif$
        </p>
        <p class="post-meta">
            $if(lastModified)$
            Last modified on $lastModified$
            $endif$
        </p>
    </header>
    <div class="post-description">
        $body$
    </div>
    <div id="commento"></div>
    <script src="https://cdn.commento.io/js/commento.js"></script>
</section>
